@use "../../../../variables.scss" as v;

.dropdown-wrapper {
  position: absolute;
  bottom: revert;
  right: 0;
  border: 1px solid v.$primary;
  background: v.$background;
  z-index: 1;
  color: v.$primary;

  .filters-list {
    width: fit-content;
    padding: 0 8px;
  }
}
