@use "../../../../variables.scss" as v;
@use "../../../../mixins" as m;

.event-card-big {
  position: relative;
  width: 104.5%;
  grid-column: 1 / -1;
  margin: 0 -32px 0 -32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: v.$primary;

  @include m.desktop {
    width: 100vw;
  }

  @include m.large {
    justify-content: flex-end;
    margin: 0 -24px 0 -24px;
  }

  @include m.medium {
    flex-direction: column-reverse;
    justify-content: flex-start;
    margin: 0 -16px 0 -16px;
  }

  .event-details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: calc(100% - 758px);
    padding: 32px 74px 32px 32px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    color: v.$text-color;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    @include m.desktop {
      width: 50%;
      padding: 24px;
    }

    @include m.large {
      width: 60%;
    }

    @include m.medium {
      width: 100%;
    }

    .event-details {
      .event-name {
        margin: 0;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
      }

      .event-info {
        margin: 16px 0;

        .date-wrapper {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 8px;

          .event-date-icon {
            width: 16px;
            height: 16px;
            margin-right: 8px;
            background-image: url("../../../../assets/calendar.svg");
            background-repeat: no-repeat;
          }
        }

        .location-wrapper {
          display: flex;
          flex-direction: row;
          align-items: center;

          .event-location-icon {
            width: 16px;
            height: 16px;
            margin-right: 8px;
            background-image: url("../../../../assets/place.svg");
            background-repeat: no-repeat;
          }
        }
      }

      p {
        max-width: 576px;
        margin: 0;
      }
    }

    button {
      width: 137px;
      height: 40px;
      border: 1px solid v.$text-color;
      background-color: v.$primary;
      cursor: pointer;

      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      color: v.$text-color;

      @include m.large {
        margin-top: 32px;
      }
    }
  }

  .image-wrapper {
    position: relative;
    width: 758px;
    height: 400px;

    &::after {
      content: "";
      position: absolute;
      left: -1px;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        90deg,
        #252b40 6.73%,
        rgba(37, 43, 64, 0) 33.05%
      );

      @include m.medium {
        top: auto;
        bottom: -1px;
        left: 0;
        background: linear-gradient(
          360deg,
          #252b40 6.73%,
          rgba(37, 43, 64, 0) 33.05%
        );
      }
    }

    @include m.desktop {
      width: 50%;
    }

    @include m.large {
      height: inherit;
    }

    @include m.medium {
      width: 100%;
    }
  }

  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border: 0;

    @include m.large {
      height: 100%;
    }
  }
}
