@use "../../mixins" as m;
@use "../../variables.scss" as v;

header {
  height: 168px;
  padding: 32px 32px 24px;
  color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  @include m.medium {
    padding: 16px 16px 12px;
    height: 122px;
  }

  @include m.small {
    height: 178px;
  }

  .top-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include m.large {
      align-items: center;
    }

    @include m.small {
      flex-direction: column;
      align-items: flex-start;
    }

    h1 {
      margin: 0;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 48px;

      @include m.medium {
        font-size: 36px;
        line-height: 36px;
      }
    }

    .search-form {
      position: relative;

      .search-icon {
        position: absolute;
        top: 12px;
        left: 12px;
        width: 16px;
        height: 16px;
        background-image: url(../../assets/search.svg);
        background-repeat: no-repeat;
        opacity: 0.7;
        z-index: 1;

        @include m.small {
          top: 28px;
        }
      }

      .search-input {
        position: relative;
        width: 336px;
        height: 20px;
        padding: 8px 32px;

        &:focus,
        &.filled {
          border: 3px solid v.$link-active;
          box-shadow: 0px 1px 8px 0px rgba(240, 203, 69, 0.6);
        }

        @include m.medium {
          max-width: 272px;
        }

        @include m.small {
          margin-top: 16px;
        }

        @include m.small {
          max-width: 252px;
        }
      }

      .cleanup-button {
        position: absolute;
        top: 12px;
        right: 12px;
        width: 16px;
        height: 16px;
        background-image: url(../../assets/cleanup-button.svg);
        background-repeat: no-repeat;
        opacity: 0.7;
        z-index: 1;
        cursor: pointer;

        @include m.small {
          top: 28px;
        }
      }
    }
  }
}
